<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/templatemo-training-studio.css">
<style>


h1 {
  color:white
}
#firstLabel{
color: white;
}
#textarea{opacity: 0.85}

body {
	  background-image: url('/images/detailedAccountInfo.jpg');
	    background-repeat: no-repeat;
	    background-attachment: fixed !important;
	    background-attachment: initial;
		background-position: center top !important;
	
	    height: 120vh;
	    background-position: center, center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	
	
	  width:100%;
	}

		.header-area{background:#38393b !important}
	    .container{max-width: 1450px !important}
	    h1{margin-top:7%}
</style>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h6>.</h6>
<!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">Fit<em>Fam</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
										                             <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
										                             <li class="scroll-to-section"><a href="/">About us</a></li>
										                             <li class="scroll-to-section"><a href="/">Courses</a></li>
										                             <li class="scroll-to-section"><a href="/">Contact</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/Knowledge}">Knowledge</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/Calculator}">Calculator</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/trainers}">List of Trainers</a></li> 
                   <div sec:authorize="!isAuthenticated()">          <li class="scroll-to-section"><a th:href="@{/login}">Login</a></li>  </div>
                   
 				   <div sec:authorize="hasRole('ROLE_MENTOR')">      <li class="scroll-to-section"><a th:href="@{/trainees}">List of Trainees</a></li> </div>
                   <div sec:authorize="hasRole('ROLE_ADMIN')">       <li class="scroll-to-section"><a th:href="@{/users}">List of Users</a></li> </div>  
                   <div sec:authorize="isAuthenticated()">           <li class="scroll-to-section"><a th:href="@{/AccountInfo}">AccountInfo</a></li> </div>
                   <div sec:authorize="isAuthenticated()">           <li class="scroll-to-section"><a th:href="@{/Logout}">Logout</a></li> </div>  
                   <div sec:authorize="!isAuthenticated()">          <li class="main-button"><a th:href="@{/register}">Sign up</a></h3></li> </div>
                         
                         
                         
                        
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        
    </header>
    <!-- ***** Header Area End ***** -->




<div class="container text-center">
        <div>
            <h1>Detailed account info</h1>
        </div>
        
        <form th:action="@{/process_AddMoreInfo}" th:object="${user}"
            method="post" style="max-width: 600px; margin: 0 auto;">
            
	            <div class="form-group row">
	                <label id="firstLabel" class="col-4 col-form-label">Add more detailed info: </label>
	                <div class="col-8">
	                    <textarea id="textarea" rows="20" cols="100" th:field="*{mentorInfo}" class="form-control" required
	                    	minlength="30" >
	                    	</textarea>
	                </div>
	            </div>
            
            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
            </div>
</body>
</html>