<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    
    
    <title>Sign Up - Fitnessapp</title>
     
     <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/templatemo-training-studio.css">
     
<style>
label{
color: white;
}
h1{
color: lightsalmon;
}  
.container{max-width: 1450px !important}
</style>  
</head>
<body>
<h6>.</h6>
<!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">Fit<em>Fam</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
										                             <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
										                             <li class="scroll-to-section"><a href="/">About us</a></li>
										                             <li class="scroll-to-section"><a href="/">Courses</a></li>
										                             <li class="scroll-to-section"><a href="/">Contact</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/Knowledge}">Knowledge</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/Calculator}">Calculator</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/trainers}">List of Trainers</a></li> 
                   <div sec:authorize="!isAuthenticated()">          <li class="scroll-to-section"><a th:href="@{/login}">Login</a></li>  </div>
                   
 				   <div sec:authorize="hasRole('ROLE_MENTOR')">      <li class="scroll-to-section"><a th:href="@{/trainees}">List of Trainees</a></li> </div>
                   <div sec:authorize="hasRole('ROLE_ADMIN')">       <li class="scroll-to-section"><a th:href="@{/users}">List of Users</a></li> </div>  
                   <div sec:authorize="isAuthenticated()">           <li class="scroll-to-section"><a th:href="@{/AccountInfo}">AccountInfo</a></li> </div>
                   <div sec:authorize="isAuthenticated()">           <li class="scroll-to-section"><a th:href="@{/Logout}">Logout</a></li> </div>  
                   <div sec:authorize="!isAuthenticated()">          <li class="main-button"><a th:href="@{/register}">Sign up</a></h3></li> </div>
                         
                         
                         
                        
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        
    </header>
    <!-- ***** Header Area End ***** -->






<section class="section" id="call-to-action">
        
    
  
    <div class="container text-center">
        <div>
            <h1>User Registration - Sign Up</h1>
        </div>
        
        <form th:action="@{/process_register}" th:object="${user}"
            method="post" style="max-width: 600px; margin: 0 auto;"> 		   
	        <div class="m-3">
	        
	        <div class="form-group row">
	                <label class="col-4 col-form-label">Sex: </label>
	                <div class="col-8">
	                    <select th:field="*{sex}">
				    <option th:value="'M'" th:text="Male"></option>
				    <option th:value="'F'" th:text="Female"></option>
				</select>
	                   
	                </div>
	            </div>
	        
	            <div class="form-group row">
	                <label class="col-4 col-form-label">E-mail: </label>
	                <div class="col-8">
	                    <input type="email" th:field="*{email}" class="form-control" required />
	                   
	                </div>
	            </div>
	            
	            <div class="form-group row">
	                <label class="col-4 col-form-label">Username: </label>
	                <div class="col-8">
	                    <input type="text" th:field="*{username}" class="form-control" required />
	                </div>
	            </div>
	             
	            <div class="form-group row">
	                <label class="col-4 col-form-label">Password: </label>
	                <div class="col-8">
	                    <input type="password" th:field="*{password}" class="form-control"
	                            required minlength="6" maxlength="10"/>
	                </div>
	            </div>
	             
	            <div class="form-group row">
	                <label class="col-4 col-form-label">First Name: </label>
	                <div class="col-8">
	                    <input type="text" th:field="*{firstName}" class="form-control"
	                            required minlength="2" maxlength="20"/>
	                </div>
	            </div>
	            
	            
	             
	            <div class="form-group row">
	                <label class="col-4 col-form-label">Last Name: </label>
	                <div class="col-8">
	                    <input type="text" th:field="*{lastName}" class="form-control"
	                            required minlength="2" maxlength="20" />
	                </div>
	            </div>
	            <div class="form-group row">
	                <label class="col-4 col-form-label">Age: </label>
	                <div class="col-8">
	                    <input type="number" th:field="*{age}" class="form-control"
	                            required minlength="1" maxlength="3"/>
	                </div>
	            </div>
	            <div>
	                <button type="submit" class="btn btn-primary">Sign Up</button>
	            </div>
	        </div>
        </form>
    </div>
    </section>
</body>
</html>