<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/templatemo-training-studio.css">
    <style>
    
    .forward{
    
    margin-top:10%;
    
    }
    .table tr{color:white}
	    body {
	  background-image: url('/images/horica.jpg');
	    background-repeat: no-repeat;
	    background-attachment: fixed !important;
	    background-attachment: initial;
		background-position: center top !important;
	
	    
	    background-position: center, center;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	
	
	  width:100%;
	}
	#nicetable{
	background-color:black;
	opacity:70%
	
	}
	.header-area{background:#38393b !important}
    .container{max-width: 1450px !important}
    </style>
    
    
    
    <script>
    function changeRole(userid,index) {
    	var role=$("#roles"+index).val();
    	$.ajax({
    		url: "/users/changeRole?userId="+userid+"&roleId="+role,
    		type: "get",
    		
    	});
    }
    </script>
</head>
<body>
<h6>.</h6>
 <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">Fit<em>Fam</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
										                             <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
										                             <li class="scroll-to-section"><a href="/">About us</a></li>
										                             <li class="scroll-to-section"><a href="/">Courses</a></li>
										                             <li class="scroll-to-section"><a href="/">Contact</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/Knowledge}">Knowledge</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/Calculator}">Calculator</a></li> 
										                             <li class="scroll-to-section"><a th:href="@{/trainers}">List of Trainers</a></li> 
                   <div sec:authorize="!isAuthenticated()">          <li class="scroll-to-section"><a th:href="@{/login}">Login</a></li>  </div>
                   
 				   <div sec:authorize="hasRole('ROLE_MENTOR')">      <li class="scroll-to-section"><a th:href="@{/trainees}">List of Trainees</a></li> </div>
                   <div sec:authorize="hasRole('ROLE_ADMIN')">       <li class="scroll-to-section"><a th:href="@{/users}">List of Users</a></li> </div>  
                   <div sec:authorize="isAuthenticated()">           <li class="scroll-to-section"><a th:href="@{/AccountInfo}">AccountInfo</a></li> </div>
                   <div sec:authorize="isAuthenticated()">           <li class="scroll-to-section"><a th:href="@{/Logout}">Logout</a></li> </div>  
                   <div sec:authorize="!isAuthenticated()">          <li class="main-button"><a th:href="@{/register}">Sign up</a></h3></li> </div>
                         
                         
                         
                        
                            
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        
    </header>
    <!-- ***** Header Area End ***** -->

<div class="container text-center">
    <div>
        <form th:action="@{/users/changeRole}" method="post" th:object="${user}">
        
            <p class="forward">
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
        </form>
    </div>
    <div>
        <h1>List of Users</h1>
    </div>
     
    <div>
        <table id="nicetable" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>User ID</th>
                    <th>E-mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user,index : ${listUsers}">
                    <td  th:text="${user.id}">User ID</td>
                    <td th:text="${user.email}">E-mail</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td>
	                    <select class="form control" th:id="'roles'+${index.index}" > 
	                		<option   th:each="role: ${listRoles}" th:text="${role.name}"></option>
	                		<option  th:text="${user.role.name}"selected hidden></option>
	                		
	               		</select>
	               		 <button th:onclick="'changeRole('+${user.id}+','+${index.index}+')'"
	               		 >save</button>
                	</td>
                    
                   </tr>
                 
            </tbody>
        </table>
        
    </div>
</div>
</body>
</html>